@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Development @ViewData["Development"]</p>

<address>
    <strong>
        More information:
    </strong> <a href= "https://www.linkedin.com/in/wagner-santos-286869230/">www.linkedin.com/in/wagner-santos-286869230/</a>
</address>